.wrapper {
  display: grid;
  gap: 30px 40px;
  grid-template-columns: repeat(auto-fit, 300px);
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
}
.resultData {
  color: var(--color--two);
  text-align: center;
  margin: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resultData > button {
  margin-top: 20px;
}
