.link {
  min-width: 120px;
  width: 150px;
  min-height: 50px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  transition: border-color 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link:hover {
  cursor: pointer;
  transition: border-color 0.2s ease-in;
}
.primary {
  background-color: var(--blue);
  color: #fff;
  border: 2px solid var(--blue);
}
.primary:hover {
  border: 2px solid var(--color--two);
}
.accent {
  background-color: var(--additional);
  color: var(--blue);
  border: 2px solid var(--additional);
}
.accent:hover {
  border: 2px solid var(--blue);
}
