.wrapper {
  display: block;
  position: relative;
  user-select: none;
}
.title {
  color: var(--color--two);
  display: grid;
  grid-template-columns: 20px auto;
  gap: 10px;
  font-weight: 800;
  font-size: 16px;
}
input[type='checkbox']:hover {
  cursor: pointer;
}
input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color--one);
  border: 1px solid var(--color--one);
  margin: 0;
  width: 14px;
  height: 14px;
  border-radius: 2px;
}
input[type='checkbox']:checked {
  background-color: var(--blue);
}
